* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #865f5f, #00f7ff61);
}
.calculator {
  width: 289px;
  height: 398px;
  background: #e7070754;
  padding: 10px;
  box-shadow: 6px 9px 42px #07400f7a;
}
.display {
  width: 100%;
  height: 50px;
}
.buttons {
  display: flex;
  gap: 7px;
  width: 100%;
  margin: 5px;

  flex-wrap: wrap;
}
.buttons button {
  display: flex;
  font-size: 29px;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 65px;
  box-shadow: inset -4px 5px 39px 5px #07400f7a;
  background-color: #d3dfe2fa;
  transition: font-size 0.3s, background-color 2s;
}
button:hover {
  font-size: 35px;
  background-color: red;
}
